html, body, div, p {
  font-family: Roboto, "Noto Sans", Helvetica, sans; }

section {
  padding-bottom: 50px; }

h1, h2, h3, h4,
.navbar-nav > li {
  font-family: Play, Verdana, Arial, sans; }

h1 {
  font-size: 2.8em; }

.text-center {
  text-align: center; }

.simple-image {
  width: 100%;
  height: auto; }

.navbar-nav > li,
.h1 {
  text-transform: uppercase; }

.dropdown-menu {
  background-color: #252592;
  font-size: 1em;
  transition: background-color 0.5s; }
  .dropdown-menu li > a {
    color: #e0e0e0; }

a:hover,
a:focus {
  color: #0c1444; }

a {
  color: #223bc5; }

.flex-container {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap; }

.about > p {
  font-size: 1.25em; }

.navbar-inverse {
  background-color: #1a1a65; }
  .navbar-inverse .navbar-nav > li > a {
    color: #e0e0e0; }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #252592; }

.top-sponsors div:hover {
  transform: scale(1.05);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s; }
.top-sponsors div {
  margin-bottom: 5px;
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s; }
  .top-sponsors div a > img {
    width: 100%;
    height: 100%; }

footer {
  background: #1a1a65;
  color: #e0e0e0; }

.footer-list {
  list-style: none;
  text-align: left;
  padding: 0; }
  .footer-list li {
    margin: 5px 0; }
    .footer-list li a {
      line-height: 1.4em;
      color: #e0e0e0; }
      .footer-list li a img {
        margin-right: 5px;
        width: 1.5em;
        height: 1.5em; }
    .footer-list li a.btn-warning {
      color: #222; }
    .footer-list li ul {
      margin-left: 0.5em;
      border-left: 1px dotted #e0e0e0;
      padding-left: 0.5em;
      list-style: none; }

.contacts > li {
  margin: 10px 0; }

p.caret {
  margin: 0; }

.footer-dropdown > ul {
  border-radius: 0; }

.cars-row div > a {
  color: white;
  text-decoration: none; }
.cars-row div > a:hover {
  color: white;
  text-decoration: none; }
.cars-row div img {
  width: 100%; }
.cars-row div img:hover {
  transform: scale(1.03);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s; }
.cars-row div img {
  opacity: 0.9;
  transition: transform 0.5s, opacity 0.5s; }

.blueish-bg {
  background: #252592;
  color: white; }

.donate {
  transition: transform 0.5s, opacity 0.5s;
  background-position: center center;
  background-repeat: no-repeat;
  max-height: 400px; }
  .donate img {
    opacity: 0;
    width: 100%;
    height: 100%; }
  .donate h2 {
    display: block;
    width: calc(100% - 30px);
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black, 2px 2px 1px black;
    font-size: 3em;
    position: absolute;
    top: calc(50% - 1.3em);
    text-transform: uppercase;
    font-weight: bold; }
  .donate h2:hover {
    color: white; }

.donate:hover {
  transform: scale(1.03);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s; }

.icon-bar {
  margin: 5px 0; }

.first {
  font-size: 2.4em; }

#top-header p {
  font-size: 2em;
  font-family: Play, Roboto, Verdana, sans;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 40px #330eb2, 2px 2px 5px black; }
#top-header .second {
  font-size: 1em; }
#top-header .third {
  font-size: 1.6em; }

#pause {
  padding: 15px;
  color: white;
  background: transparent;
  border: none;
  margin-top: 20px; }

.btn.dark {
  background: #1a1a65;
  color: white; }

a.btn.dark {
  background: #1a1a65;
  color: white; }

a.btn.dark:hover {
  text-decoration: none;
  background: #252592; }

.dropup.language button {
  background: #222;
  color: white;
  border-radius: 2px;
  border: none;
  transition: background 0.5s; }
.dropup.language button:hover {
  background: #111;
  transition: background 0.5s; }
.dropup.language .dropdown-menu {
  background: #111;
  color: #EEE; }
  .dropup.language .dropdown-menu li > a > img {
    margin: 2px 5px;
    height: 1em;
    width: auto; }

.dropup.language.open button {
  background: #111; }

.really-footer {
  margin-top: 20px;
  background: #222; }

div.media > div > img {
  width: 100%; }

.team-list {
  list-style: none;
  padding-left: 0;
  -webkit-padding-start: 0;
  padding: 0; }
  .team-list li {
    display: inline-block;
    max-width: 150px;
    text-align: center; }
  .team-list li > img {
    border-radius: 50%;
    margin-right: 10px;
    height: 100px;
    cursor: pointer; }

.top-align {
  min-height: inherit;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center; }

.about-text {
  font-size: 1.3em; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }
@keyframes rotate-back {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
.load-more {
  margin-top: 20px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.5s ease-out; }
  .load-more div {
    text-transform: uppercase;
    font-size: 1.5em;
    transition: inherit; }
    .load-more div img {
      height: 1em;
      animation: rotate-back 0.5s;
      transition: all 0.5s ease-out; }

.load-more:hover > div > img {
  animation-name: rotate;
  animation-duration: 0.5s;
  transition: all 0.5s ease-out; }

.btn-formula {
  color: #1a1a65 !important;
  background: white;
  border: #1a1a65 solid 1px;
  margin-top: 20px;
  margin-bottom: 15px;
  transition: background 0.3s; }

.btn-formula:hover {
  background: #DDD;
  transition: background 0.3s; }

@media (min-width: 320px) {
  .navbar {
    margin-bottom: 0; }

  #top-one {
    padding: 20px 15px;
    height: 100vh; }

  #top-header,
  #sponsors {
    margin: 0; }

  .navbar-brand > img {
    height: 40px; }

  .donate {
    background-size: auto 100%; }

  .mid-align {
    min-height: inherit;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center; }

  .really-footer {
    padding-bottom: 20px;
    text-align: center; } }
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 15px 10px; }

  .navbar-nav > li > a > .caret {
    margin: 0;
    margin-left: 2px; }

  .navbar-right {
    font-size: 1.15em; }

  .navbar-brand > img {
    height: 40px; }

  .navbar-brand {
    padding: 5px 15px; }

  #top-one {
    background-size: cover;
    min-height: 700px; }

  #sponsors {
    padding: 0 100px; }

  #top-header p {
    margin: 0;
    font-size: 2em;
    font-family: Play, Roboto, Verdana, sans;
    color: white;
    text-transform: uppercase; }
  #top-header .first {
    font-size: 2.7em; }
  #top-header .second {
    font-size: 2em; }
  #top-header .third {
    font-size: 2.7em; }

  .mid-align {
    min-height: inherit;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center; }

  footer {
    padding-top: 25px;
    border-top: 1px solid #1a1a65; }

  .really-footer {
    padding: 0;
    text-align: initial; }

  .btn-formula {
    margin-top: 10px;
    margin-bottom: 5px; } }
@media (min-width: 992px) {
  #top-header {
    margin-top: -200px; }

  .navbar-nav > li > a {
    padding: 25px 20px; }

  .navbar-right {
    font-size: 1.4em; }

  .navbar-brand > img {
    height: 60px; } }
@media (min-width: 1100px) {
  .btn-formula {
    margin-top: 20px;
    margin-bottom: 15px; }

  .navbar-right {
    font-size: 1.6em; } }

/*# sourceMappingURL=main.css.map */
